<div class="clearfix mt-2 mt-lg-4">
  <div class="container mx-auto px-2">
    <p class="col-8 sm-width-full left py-2 mb-0" style="font-family: 'basier_circle_monoregular';font-size: small;">
      Coded + designed on <a class="text-accent" href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>.
      欢迎光临 &#9996;&#127995;
    </p>
    <ul class="list-reset right clearfix sm-width-full py-2 mb-2 mb-lg-0" style="font-family: 'basier_circle_monoregular';font-size: small;">
      <li class="inline-block mr-2">
        <a href="https://www.linkedin.com/in/bricebai/">LinkedIn</a>
      </li>
      <li class="inline-block">
        brice.bai@yale.edu
      </li>
    </ul>
  </div>
</div>
