/* Type utilities */

.h0 {
  font-size: $h0-mobile;
  line-height: 1.0125;
  margin-top: 0.85em;
  word-wrap: break-word;

  @media (min-width: $breakpoint-lg) {
    font-size: $h0-desktop;
  }
}

.text-right { text-align: right; }

.no-underline {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}

.bold { font-weight: bold; }
.uppercase { text-transform: uppercase; }
.boldbasier {font-family: 'basier_circle_monosemibold'; }

.lh-condensed { line-height: 1.25; }

.list-reset {
  list-style: none;
  padding-left: 0;
}

/* Border utilities */
.border-bottom-thick { border-bottom: 2px solid; border-color: currentColor; }
.border-bottom-thin { border-bottom: 1px solid; border-color: currentColor; }
.border-top-thick { border-top: 2px solid; border-color: currentColor; }
.border-top-thin { border-top: 1px solid; border-color: currentColor; }
.border-0 { border: 0; }


/* Theme color utilities */
.header-background { background-color: $color-background; }
.header-border { border-color: $color-foreground; }
.header-title { color: $color-title; }
.header-text { color: $color-foreground; }
.header-social { fill: $color-foreground; }
.header-social-accent { fill: $color-dot-accent; }
.header-link:hover { color: $color-nav-link !important; } // used for navigation links on homepage
.text-accent { color: $color-text-accent; } // used for date in post list and home link

/* Layout utilities */
.container { 
  max-width: $container-width;
}

.iframe-container {
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.iframe-container-youtube {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

@media (max-width: 812px) {
  .iframe-container {
    padding-top: 230%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  row-gap: 0px;
  column-gap: 50px;
}

.one {
  padding: 4em 2em;
  margin-left: 2em;
  width: 75%;
}

.two {
  display: flex;
  align-items: center;
  padding: 1em;
}
.two img {
  max-width: 100%;
}

.doublegrid {
  display: grid;
  grid-template-columns: auto auto;
}

//The sidebar menu for case studies
.section-nav{
  position: fixed;
  right: 0px;
  top: 8.25em;
  z-index: 1;
  width: 180px;
  margin-left: 40px;
  background-color: hsla(0, 0%, 99.6%, 0.90);
  color: rgba(51, 51, 51, 0.4);
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.w-clearfix:before,
.w-clearfix:after{
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.section-links{
  margin-left: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  float: right;
  clear: left;
  background-color: transparent;
  color: #b3b4ba;
  text-align: left;
  letter-spacing: 0.2px;
  text-transform: none;
  transition: all 300ms ease;
  &:hover {
    color: black !important;
    text-decoration: none !important;
    transition: all 300ms ease;
  }
}

.w-button{
  display: inline-block;
  padding: 9px 15px;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.logo img{
  max-width: 2em;
  filter: drop-shadow(2px 2px 1px white);
  transition: all 300ms ease;
  &:hover {
    transform: scaleX(1.25) scaleY(1.25);
    transition: all 300ms ease;
  }
}

.gallery {
  filter: drop-shadow(10px 10px 10px silver);
  max-width: 100%;
  transition: all 300ms ease;
  &:hover {
    transform: scaleX(1.05) scaleY(1.05);
    transition: all 300ms ease;
  }
}

/** https://codepen.io/gschier/pen/HCoqh */
.lightbox {
   /** Default lightbox to hidden */
   display: none;

   /** Position and style */
   position: fixed;
   z-index: 999;
   width: 100%;
   height: 100%;
   text-align: center;
   top: 0;
   left: 0;
   background: rgba(0,0,0,0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 100%;
  max-height: 100%;
  filter: none;
  transform: none;
  margin-right: 0em;
  margin-bottom: 0em;

  transition: none;
  &:hover {
     transform: none;
     transition: none;
  }
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}


.col-1 { width: (1 / 12 * 100%); }
.col-2 { width: (2 / 12 * 100%); }
.col-3 { width: (3 / 12 * 100%); }
.col-4 { width: (4 / 12 * 100%); }
.col-5 { width: (5 / 12 * 100%); }
.col-6 { width: (6 / 12 * 100%); }
.col-7 { width: (7 / 12 * 100%); }
.col-8 { width: (8 / 12 * 100%); }
.col-9 { width: (9 / 12 * 100%); }
.col-10 { width: (10 / 12 * 100%); }
.col-11 { width: (11 / 12 * 100%); }
.col-12 { width: 100%; }

@media (max-width: $breakpoint-lg) {
  .sm-width-full { width: 100% !important; }
}

.block        { display: block !important; }
.inline-block { display: inline-block !important; }

.table { display: table !important; }

.left { float: left; }
.right { float: right; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.align-middle { vertical-align: middle; }

/* Padding */
.px-0 { padding-left: 0; padding-right:  0 }
.py-0 { padding-top: 0;  padding-bottom: 0 }

.px-1 { padding-left: $spacer-1; padding-right:  $spacer-1 }
.py-1 { padding-top: $spacer-1;  padding-bottom: $spacer-1 }

.px-2 { padding-left: $spacer-2; padding-right:  $spacer-2; }
.py-2 { padding-top: $spacer-2;  padding-bottom: $spacer-2; }

.px-3 { padding-left: $spacer-3; padding-right:  $spacer-3; }
.py-3 { padding-top: $spacer-3;  padding-bottom: $spacer-3; }

.px-4 { padding-left: $spacer-4; padding-right:  $spacer-4; }
.py-4 { padding-top: $spacer-4;  padding-bottom: $spacer-4; }

/* Margin */
.mx-auto { margin-left: auto; margin-right: auto; }

.mt-0 { margin-top: 0; }
.mr-0 { margin-right: 0; }
.mb-0 { margin-bottom: 0; }
.ml-0 { margin-left: 0; }

.mt-1 { margin-top: $spacer-1; }
.mr-1 { margin-right: $spacer-1; }
.mb-1 { margin-bottom: $spacer-1; }
.ml-1 { margin-left: $spacer-1; }

.mt-2 { margin-top: $spacer-2; }
.mr-2 { margin-right: $spacer-2; }
.mb-2 { margin-bottom: $spacer-2; }
.ml-2 { margin-left: $spacer-2; }

.mt-3 { margin-top: $spacer-3; }
.mr-3 { margin-right: $spacer-3; }
.mb-3 { margin-bottom: $spacer-3; }
.ml-3 { margin-left: $spacer-3; }

.mt-4 { margin-top: $spacer-4; }
.mr-4 { margin-right: $spacer-4; }
.mb-4 { margin-bottom: $spacer-4; }
.ml-4 { margin-left: $spacer-4; }

.mt-5 { margin-top: $spacer-5; }
.mr-5 { margin-right: $spacer-5; }
.mb-5 { margin-bottom: $spacer-5; }
.ml-5 { margin-left: $spacer-5; }

.mt-6 { margin-top: $spacer-6; }
.mr-6 { margin-right: $spacer-6; }
.mb-6 { margin-bottom: $spacer-6; }
.ml-6 { margin-left: $spacer-6; }

// Responsive margin
@media (min-width: 52em) {
  .mx-lg-auto { margin-left: auto; margin-right: auto; }

  .mt-lg-0 { margin-top: 0; }
  .mr-lg-0 { margin-right: 0; }
  .mb-lg-0 { margin-bottom: 0; }
  .ml-lg-0 { margin-left: 0; }

  .mt-lg-1 { margin-top: $spacer-1; }
  .mr-lg-1 { margin-right: $spacer-1; }
  .mb-lg-1 { margin-bottom: $spacer-1; }
  .ml-lg-1 { margin-left: $spacer-1; }

  .mt-lg-2 { margin-top: $spacer-2; }
  .mr-lg-2 { margin-right: $spacer-2; }
  .mb-lg-2 { margin-bottom: $spacer-2; }
  .ml-lg-2 { margin-left: $spacer-2; }

  .mt-lg-3 { margin-top: $spacer-3; }
  .mr-lg-3 { margin-right: $spacer-3; }
  .mb-lg-3 { margin-bottom: $spacer-3; }
  .ml-lg-3 { margin-left: $spacer-3; }

  .mt-lg-4 { margin-top: $spacer-4; }
  .mr-lg-4 { margin-right: $spacer-4; }
  .mb-lg-4 { margin-bottom: $spacer-4; }
  .ml-lg-4 { margin-left: $spacer-4; }
}

// Link styles for social icons
.link-social {
  text-decoration: none;
  font-weight: bold;
  line-height: 1;

  &:hover {
    text-decoration: none !important;
  }
}

// Link styles for navigation
.link-primary {
  font-family: 'basier_circle_monoregular';
  text-transform: uppercase;
  text-decoration: none !important;
  transition: all 300ms ease;

  &:hover {
    background: -webkit-linear-gradient(45deg, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none !important;
    margin-left: 10px;
    transition: all 300ms ease;
  }
}

.link-main-page {
  font-family: $header-font-family;
  font-size: xx-large;
  text-transform: none;
  &:hover {
    margin-left: 42px;
  }
}
