---
layout: default
---

<div>
  <img style="max-width: 100%" src="/uploads/adobe_banner.png" alt="">
</div>

<a id="toggle" href="javascript:showhide('menu')" class="section-nav w-button w--current" style="color: black; font-weight: bold; position: fixed; top: 5em; text-align: right; width: auto; display: none;">SHOW / HIDE</a>

<div id="menu" style="opacity: 1; display: none;" class="section-nav w-clearfix">
  <a href="#intro" class="section-links intro w-button w--current" style="color: rgb(179, 180, 186);">Background &amp; Context</a>
  <a href="#problem" class="section-links intro w-button w--current" style="color: rgb(179, 180, 186);">The Problem</a>
  <a href="#solution" class="section-links solution w-button" style="color: rgb(179, 180, 186);">Proposed Solution</a>
  <a href="#research" class="section-links research w-button" style="color: rgb(179, 180, 186);">Observations &amp; Research</a>
  <a href="#goals" class="section-links goals w-button" style="color: rgb(179, 180, 186);">The Goals</a>
  <a href="#decisions" class="section-links design w-button" style="color: rgb(179, 180, 186);">Design Decisions</a><a href="#process" class="section-links design w-button" style="color: rgb(179, 180, 186);">Process &amp; Style</a>
  <a href="#results" class="section-links results w-button" style="color: rgb(179, 180, 186);">Results &amp; Reflection</a>
  <a href="#future" class="section-links future w-button" style="color: rgb(179, 180, 186);">Future Directions</a>
</div>

<article class="container mx-auto px-2 mt2 mb4">
  <div class="prose mb-2 py-4">
    <h1 id="intro">Grow Together: Adobe + Nickelodeon Creative Jam Design Challenge</h1>
    <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));width: 100%;grid-column-gap: 2em;grid-row-gap: 2em;">
      <div><h6>Duration</h6>April 2020<br>3 days</div>
      <div><h6>Tools</h6>Adobe XD</div>
      <div><h6>Key Skills</h6>UI/UX, Tablet App Design, Rapid Prototyping</div> 
      <div><h6>The Team</h6><a href="https://rencewang.com">Lawrence Wang</a></div>
    </div>
    <br><br>
    <p>A few weeks after being sent home to quarantine, my partner and I formed team Rice &amp; Rence to design Grow Together—a tablet app for the 3-day, US-college-wide remote Adobe + Nickelodeon Creative Jam. This would be an app experience for kids between 11 to 13 years old (grades 6 to 8) that also used some element of the Nickelodeon brand and incorporated either auto-animate or voice command features.</p>

    <p>This was also our first time trying a design jam. :)</p><div style="margin-left: -10em;margin-top: 2em;" id="problem">
        <h5>The Problem</h5>
    </div>    
    <h3 style="text-align: center; margin-top: -1.5em;">Help kids feel safe, informed, and connected in the spirit of #KidsTogether. Design an Android tablet or Apple iPad app that provides a safe way for kids to communicate, share, and connect with their friends and family. </h3>
  </div>
</article>
    
<div id="solution" style="
    color: white;
    background-color: #001253;
    background-image: url(uploads/adobe_overlay.png), linear-gradient(rgba(240, 100, 5, 1), rgba(84, 26, 128, 1));
    background-size: cover;
    ">
  <article class="container mx-auto px-2 mt2 mb4">
  <div class="prose mb-4 py-4">
    <h5 style="color:white; margin-left: -10em;">The Solution</h5>
    <h3 style="margin-top: -1.8em; color:white;">Give kids and parents the opportunity to cultivate their own virtual world, learn more about COVID-19 through educational videos, do fun indoor activities with their favorite Nick characters, and ultimately stay connected with their community through expressing themselves on this platform.</h3>
  <a href="#decisions" style="text-decoration-color: white;"><h6 style="color:white;text-align: center;">Jump to final design decisions ↓</h6></a></div></article>
</div>

<article id="research" class="container mx-auto px-2 mt2 mb4">
  <div class="prose mb-4 pb-4">
      <div style="margin-left: -10em;">
          <h5>Observations</h5>
          <h5>+ Research</h5>
  </div>

  <h2 style="margin-top: -2em;">Kids learn well in the process of creation</h2>

  

    <p>Integrating education with recreation is essential to creating an effective, beneficial kids app. This is why we ultimately decided on allowing kids to grow their own garden by consuming different educational content and fun activities.</p>

    <h2>Kids love rewards or feedback on their actions</h2>
    <p>Immediate feedback on all actions, whether it be visually or auditorily, is expected. Whereas adults may only want feedback on what they have done wrong, it’s important to give kids praise for what they’ve done right as well.</p>

  <h2>Challenges + competition are key motivators</h2><p>As mentioned above, kids love rewards, and these rewards can be earned from surpassing challenges or winning competitions. Giving kids opportunities to accomplish rewarding tasks and compete against themselves or others helps them stay interested in the app.</p>

  

  <h2>Don’t forget about the parents</h2><p>While we should focus on designing for children first, parents are another major type of user of kids’ apps. It’s still important to think of how they would want to interact with the app and their children. <strong>Parents generally also want their kids to learn while playing.</strong></p>

  
<p>Due to the limited time we had, we focused on collecting information via secondary research through several articles. (<a href="https://www.toptal.com/designers/interactive/guide-to-apps-for-children">1</a>, <a href="https://blog.proto.io/8-tips-designing-mobile-apps-children/">2</a>, <a href="https://www.smashingmagazine.com/2016/01/designing-apps-for-kids-is-not-childs-play/">3</a>, <a href="https://uxmag.com/articles/designing-apps-for-kids">4</a>, <a href="https://www.savahapp.com/blog/designing-kids-apps/">5</a>)</p></div></article>

<div>
  <div id="goals" style="
    color: white;
    background-color: #001253;
    background-image: url(uploads/adobe_overlay.png), linear-gradient(rgba(240, 100, 5, 1), rgba(84, 26, 128, 1));
    background-size: cover;
    " class="py-4 mb-4">
  <article class="container mx-auto px-2 mt2 mb4">
    <h5 style="color:white; margin-left: -10em;">Goals</h5>
    <div style="margin-top: -2em;display: grid;grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));width: 100%;grid-column-gap: 2em;grid-row-gap: 2em;">
      <p>Help kids stay connected to their classmates, friends, and family</p>
      <p>Let kids express themselves privately or within a secure community</p>
      <p>Give kids the ability to share photos, videos, creative projects, and more</p>
      <p>Encourage kids through a game to learn about safety</p>
    <p>Educate and empower kids on best practices and good habits to keep the household safe</p></div>
  </article>
</div>

  <article class="container mx-auto px-2 mt-2 mb-4" id="decisions">


<div style="margin-left: -10em;">
        <h5>Decision 1</h5>   
</div>

<h2 style="margin-top: -1.2em;">Recreation mixed with education in a variety of different activities and content</h2>
    <div class="mb-4" style="display: flex; flex-wrap: wrap;">
    <img alt="" src="/uploads/adobe_decision1.gif" style="max-width: 20em;margin-bottom: 1em;margin-right: 1em;margin-left: 1em;">
    <p style="max-width: 25em;margin-left: 1em;">On the explore page, kids are given different indoor activities with their favorite Nick characters, take quizzes about the Nick universe, and watch videos or read articles about the pandemic. Kids earn points through consuming these activities and content. By providing a wide variety of fun and educational content, kids have many options to stay engrossed in the app and are given the challenge to gain as many points as possible for rewards.
    </p>
  </div>
<div style="margin-left: -10em;">
        <h5>Decision 2</h5>   
</div><h2 style="margin-top: -1.2em;">A carousel at the top, revealing friends’ activities</h2><div class="mb-4" style="display: flex; flex-wrap: wrap;">
    <img alt="" src="/uploads/adobe_decision2.gif" style="max-width: 20em;margin-bottom: 1em;margin-right: 1em;margin-left: 1em;">
    <p style="max-width: 25em;margin-left: 1em;">At the top of the explore page, a carousel of what activities friends have logged appears in order to encourage the user to check out what type of activities others are doing and to do more activities on their own end. Seeing friends’ logs, and subsequently their gardens, may encourage competition among each other and thus more activities being completed.</p>
  </div><div style="margin-left: -10em;">
        <h5>Decision 3</h5>   
</div><h2 style="margin-top: -1.2em;">In-app messaging to share photos, videos, and activities within safe community</h2><div class="mb-4" style="display: flex; flex-wrap: wrap;">
    <img alt="" src="/uploads/adobe_decision3.gif" style="max-width: 20em;margin-bottom: 1em;margin-right: 1em;margin-left: 1em;">
    <p style="max-width: 25em;margin-left: 1em;">Activity and learning cards can be easily shared with friends and family. Kids are given the opportunity to express themselves within their community.</p>
  </div><div style="margin-left: -10em;">
        <h5>Decision 4</h5>   
</div><h2 style="margin-top: -1.2em;">Parental controls for kids and letting them donate to Covid relief charities</h2><div class="mb-4" style="display: flex; flex-wrap: wrap;">
    <img alt="" src="/uploads/adobe_decision4.gif" style="max-width: 20em;margin-bottom: 1em;margin-right: 1em;margin-left: 1em;">
    <p style="max-width: 25em;margin-left: 1em;">Parents can suggest different activities or learning material about Covid for their kids. They’re able to help kids grow their gardens by approving their activities while being involved in seeing what they’re doing and learning. Parents are also given the opportunity to view local charities they can donate to for Covid relief.</p>
  </div></article><article id="process" class="container mx-auto px-2 mt2 mb4">
    <div class="prose mb-4 pb-4">
      <div style="margin-left:-10em;">
          <h5>Process</h5>
          <h5>+ Style</h5>
      </div>
      <h2 style="margin-top: -2em;">Sketches</h2><p><img src="/uploads/adobe_sketches.png" alt=""></p><h2>Lo-fi Wireframes</h2><p><img src="/uploads/adobe_lofi.png" alt=""></p><p><img src="/uploads/adobe_colortype.png" alt=""></p>
    </div>
  </article>
  

  



<article class="container mx-auto px-2 mt-2 mb-4">
      <div class="prose mb-4 pb-4">

    <h2>Information Architecture + Flows</h2>
      <p>In designing the wireframes and mockups, I particularly focused on the explore page, the message page, and the parental flow.</p>
      <h3>Kids</h3>
      <p><img src="/uploads/adobe_kids_flow_ia.png" alt=""></p>
      <h3>Parents</h3><p><img src="/uploads/adobe_parents_flow_ia.png" alt=""></p>
      </div>

    <h2>Final Design</h2>
      <h3>Kids</h3>
      </article>
  
  

<div style="text-align: center;">
  <p><img style="max-width: 90%;" src="/uploads/adobe_kids_finalflow.png" alt=""></p>
</div>
<article class="container mx-auto px-2 mt-2 mb-4">
<div class="prose mb-4 pb-4">
    <h3>Parents</h3>
    </div>
</article>
<div style="text-align: center;">
  <p><img style="max-width: 90%;" src="/uploads/adobe_parent_finalflow.png" alt=""></p>
</div>
<article class="container mx-auto px-2 mt-2 mb-4">
<div class="prose mb-4 pb-4">
    <a href="https://xd.adobe.com/view/382ad66b-40c8-41f3-463c-bdb10b369787-4e1b/"><h3>Adobe XD Prototype Link</h3></a>
    </div>
</article><div id="results" style="background-color: #f05a1a; background-image: url(/uploads/hd_overlay.png); background-size: contain;">
  
</div>
      
     


<article class="container mx-auto px-2 mt2 mb4">
  <div class="prose mb-4 pb-4">
    <h5 style="margin-left: -10em;">Results</h5>
    <h2 style="margin-top: -1.3em;">A top ten design in the competition</h2>

    <p>I presented our final prototype in a 3-minute presentation live to judges from Nick and Adobe. <strong>Our design won 6th place out of 145 teams.</strong></p>
    <br>
    <div id="future" style="margin-left: -10em;"><h5>Future</h5><h5>Directions</h5></div>
    <p style="margin-top: -3.8em;">
    <strong>The judges loved the gardening and world building aspect of our app. </strong>They suggested digging deeper into that angle and creating a more immersive world. In the future, the garden could be fleshed out more with different varieties of “Nickified” plants. Simplifying the app to be more virtual-world-based would be the next exploration.</p>
  
    <p><strong>Additionally, being able to user test with kids would also be great. </strong>Lawrence and I had questions on whether our app would be suitable for middle-school-aged kid or a younger demographic. More observation and research into what apps current middle-school-aged kids are using should be done.</p>
  
    

  </div>
  <h5 style="margin-left: -10em;">Let's Go</h5>
  <div style="margin-top: -1.8em;">
    Back to <a href="/#portfolio">all of my work</a>, or check out:
    <br>
    <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));width: 100%;grid-column-gap: 2em;">
      <h3><a href="/aws2020">Amazon</a></h3><h3><a href="/sleeptight">Sleep Tight</a></h3>
      <h3><a href="/hivedesk">HiveDesk</a></h3><h3><a href="/xing">X.ing</a></h3>
      
    <h3><a href="/nova">Nova</a></h3>
    </div>
  </div>
</article>
