---
layout: default
---
<div>
      <div>
  <img style="max-width: 100%" src="/uploads/aws_banner.png" alt="">
</div>

<a id="toggle" href="javascript:showhide('menu')" class="section-nav w-button w--current" style="color: black; font-weight: bold; position: fixed; top: 5em; text-align: right; width: auto; display: none;">SHOW / HIDE</a>

<div id="menu" style="opacity: 1; display: none;" class="section-nav w-clearfix">
  <a href="#intro" class="section-links intro w-button w--current" style="color: rgb(179, 180, 186);">Background &amp; Context</a>
  <a href="#problem" class="section-links intro w-button w--current" style="color: rgb(179, 180, 186);">The Problem</a><a href="#solution" class="section-links solution w-button" style="color: rgb(179, 180, 186);">Proposed Solution</a>
  <a href="#process" class="section-links research w-button" style="color: rgb(179, 180, 186);">Design Process</a>
  <a href="#results" class="section-links results w-button" style="color: rgb(179, 180, 186);">Final Results</a>
  <a href="#challenges" class="section-links results w-button" style="color: rgb(179, 180, 186);">Challenges &amp; Learnings</a><a href="#final" class="section-links future w-button" style="color: rgb(179, 180, 186);">Final Words</a>
</div>

<article class="container mx-auto px-2 mt2 mb4">
  <div class="prose mb-2 py-4">
    <h1 id="intro">Amazon UX Design Internship 2020</h1>
    <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));width: 100%;grid-column-gap: 2em;grid-row-gap: 2em;">
      <div><h6>Duration</h6>Summer 2020<br>12 weeks</div>
      <div><h6>Tools</h6>Sketch, Invision</div>
      <div><h6>Key Skills</h6>UX, User Research, Prototyping, Usability Testing</div> 
      <div><h6>The Team</h6>AWS Support, Bo Kim, Aryan Porwal, Arun Rajan, Joel Mitchell, TA Tech Team</div>
    </div>
    <br><br>
    <p>I had the pleasure of working for Amazon as a remote UX Design Intern for AWS Support in summer 2020. My project was to redesign the entire web console of AWS Trusted Advisor (TA), a tool that provides best practice recommendations for saving money, improving system performance, or closing security gaps in a customer’s AWS cloud environment. It offers 110 recommendations, also called checks, across 20 AWS services.
<br><br>
TA currently has 90,000+ users, both internal and external, and I mainly targeted external Enterprise-level customers.
<br><br>
<strong>Disclaimer: Due to the confidentiality agreement signed with Amazon, I am unable to reveal the details of my design decisions and final recommendations.</strong>
</p>

    <div style="margin-left: -10em;margin-top: 2em;">
        <h5 id="problem">The Problem</h5>
    </div>    
    <h3 style="text-align: center; margin-top: -1.5em;">The customer experience for the TA console has not been updated in 5+ years. How can I encourage customers to rely on TA more? How can I help customers operate more efficiently and maintain better cloud posture by using TA?</h3>
  </div>
</article>
    
<div id="solution" style="background-color: #ff9900;background-image: url(/uploads/aws_overlay.png);background-size: contain;">
  <article class="container mx-auto px-2 mt2 mb4">
  <div class="prose mb-4 py-4">
    <h5 style="color:white; margin-left: -10em;">The Solution</h5>
    <h3 style="margin-top: -1.8em; color:white;">Re-imagine the customer experience, propose a redesign that reflects current customer needs, and help fulfill the vision for TA to become the customer’s primary service for improving their cloud posture.</h3>
  </div></article>
</div>

<article id="research" class="container mx-auto px-2 mt2 mb4">
  <div class="prose mb-4 pb-4">
      <div style="margin-left: -10em;">
          <h5 id="process">Process</h5>
          
  </div>

  <h2 style="margin-top: -1.3em;">A customer-centered design process</h2>

</div></article>

<div style="text-align:center;">
    <img src="/uploads/aws_process.png" style="max-width: 85%;">
    
  </div>
<br><br>

<div>
<article class="container mx-auto px-2 mt-2 mb-4">


<h5 style="margin-left: -10em;" id="results">Results</h5>

<h2 style="margin-top: -1.2em;">A redesigned console customers rated as having 66% more functionality and 12% easier to use</h2>
    <div class="mb-4">
    <p>After taking in user feedback from usability testing and final critiques from my stakeholders, I created 3 design iterations and delivered a full redesign of the dashboard, checks page, and preferences screen, as well as reimagined their main flows. I successfully created a redesign with current customer insights at the center of the process.<br><br>In my usability study, 7 external/internal users rated the redesigned console as:</p>
<div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));width: 100%;grid-column-gap: 2em;grid-row-gap: 2em;">
    <h3>66% greater functionality and useful features</h3>
    <h3>12% easier to use, worth the higher learning curve</h3><h3>All would use the redesign more frequently</h3></div>
</div><div style="margin-left: -10em;" id="challenges">
    <h5>Challenges</h5>
    <h5>+ Learnings</h5>
</div><h2 style="margin-top: -2.4em;">Designing for a complex tool and unfamiliar user</h2><div class="mb-4" style="display: flex;flex-wrap: wrap;">
    <p style="max-width: 29em;margin-right: 1em;">I came into this internship with no prior knowledge or experience in cloud computing and designing for more technical users, like DevOps or cloud architects. Quickly learning how TA works and how different users typically manage their cloud environments were definitely a challenge I initially faced, but after my research, I was able to familiarize myself with this type of tool and user.</p><img src="/uploads/aws_ta.png" alt="" style="max-width: 10em;margin-bottom: 1em;margin-left: 3em;"></div><h2>Working from home, holding meetings, creating balanced schedule</h2><div class="mb-4" style="display: flex;flex-wrap: wrap;">
    <p style="max-width: 27em;">While I’m grateful that I was still able to work this internship in the middle of the pandemic, there came challenges with me finding work-life balance, especially since my team was mainly based in Seattle while I was 3 hours ahead in Ohio. Additionally, holding meetings and being able to effectively communicate my ideas to many different audiences was a new experience. Over time, I became better at understanding how to maximize my productivity at home and how to communicate.</p><img src="/uploads/aws_homeoffice.jpg" alt="" style="max-width: 20em;margin-bottom: 1em;margin-left: 1em;"></div><h2>Accommodate for the 100%, optimize for the 80%</h2><div class="mb-4" style="display: flex;flex-wrap: wrap;">
    <p style="max-width: 29em;margin-right: 1em;">One piece of advice that stuck out to me from a design critique was the idea of accommodating for the 100% but optimizing for 80%. Although I can’t optimize the experience for all customers, I can aim to optimize for most. In my redesign of TA, I overcame the challenge of ensuring this principle.</p><img src="/uploads/aws_10080.png" alt="" style="max-width: 10em;margin-bottom: 1em;margin-left: 3em;"></div><h2>How to formally conduct user interviews and usability testing</h2><div class="mb-4" style="display: flex;flex-wrap: wrap;">
    <p style="max-width: 24em;margin-right: 1em;">I had never formally run user interviews or conducted usability testing before. Getting to tackle the entire process, from recruiting users, to creating the scripts, to running the sessions was a great learning experience that taught me the art of truly listening to the user and digging deeper into the “why” of their insights.</p><img src="/uploads/aws_interviews.png" alt="" style="max-width: 22em;margin-bottom: 1em;"></div><h2>Designing for accessibility</h2><div class="mb-4" style="display: flex;flex-wrap: wrap;">
    <p style="max-width: 24em;margin-right: 1em;">I became more aware of accessibility guidelines for text size, color, contrast ratios, and nesting elements.</p><img src="/uploads/aws_accessibility.png" alt="" style="max-width: 22em;margin-bottom: 1em;"></div></article>
  
  



<article class="container mx-auto px-2 mt2 mb4">
  <div class="prose mb-4 pb-4">
    

    <div id="final" style="margin-left: -10em;"><h5>Final</h5><h5>Words</h5></div>
    <p style="margin-top: -3.8em;">A huge thank you to my manager Bo and my mentor Aryan for guiding me along my internship and challenging me with such a large-scope project. I extend my thanks to my PM Arun, my TPM Joel, the rest of AWS Support’s UX team, and the TA tech team for their feedback and helping me grow as a designer. I had a great summer and wish I could have worked alongside everyone in person. :)</p>
  
   
  <img src="/uploads/aws_intern2020.jpg" alt=""></div>
  <h5 style="margin-left: -10em;">Let's Go</h5>
  <div style="margin-top: -1.8em;">
    Back to <a href="/#portfolio">all of my work</a>, or check out:
    <br>
    <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));width: 100%;grid-column-gap: 2em;">
      <h3><a href="/sleeptight">Sleep Tight</a></h3>
      <h3><a href="/hivedesk">HiveDesk</a></h3>
      <h3><a href="/adobenick">Adobe/Nick</a></h3>
      <h3><a href="/xing">X.ing</a></h3>
      <h3><a href="/nova">Nova</a></h3>
    </div>
  </div>
</article>
