---
layout: default
---
<div>
  <img style="max-width: 100%" src="/uploads/d4g_banner.png" alt="">
</div>

<article class="container mx-auto px-2 mt2 mb4">
  
  
  <div class="prose mb-4 py-2">
  <h1>Doodle 4 Google Logo Design</h1>

<div class="mb-4" style="display: grid;grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));width: 100%;grid-column-gap: 2em;grid-row-gap: 2em;">
<div><h6>Duration</h6>Feb 2017</div>

    <div><h6>Tools</h6>Photoshop, <br> Manga Studio 5</div>
    
<div><h6>Key Skills</h6>Logo Design, <br>Digital Illustration</div> 

    </div>


<p>From Doodle 4 Google 2017 page:</p>

<blockquote>
  <p>“Nine years in, the U.S. Doodle 4 Google Contest draws thousands of creative submissions from talented young artists across the country. Roughly 140,000 participants answered this year’s prompt, ‘What I see for the future.’”</p>
</blockquote>

<p>Google hosts an annual contest, Doodle 4 Google, where students K-12 design their own Google Doodle Logo under the contest theme. <strong>In 2017, I was the single State Winner for Ohio and one of the eleven State Winners in the Grades 10-12 category.</strong></p><br>
<br>

<div style="margin-left: -10em;">
        
<h5>Features</h5></div>

<p style="
    margin-top: -2em;
">In developing the concept of this design with the prompt in mind, I focused on the subject of <strong>women’s empowerment</strong>. To convey the prompt’s subject of the future, visual depictions of space, the stars, and dreaming were used. Using the letters of Google to become the constellations representing women in various occupations became the essential expression of future female empowerment. After all, if something is written in the stars, it is bound to happen.</p>

<h2 id="final-design">Final Design</h2>

<p><img src="/uploads/doodle4google_bricebai_original.jpg" alt=""></p>

<h3>Vision Statement</h3>

<blockquote>
  <p>“In the future, I see women succeeding in any career they want without facing extra obstacles due to their gender. As long as we keep fighting for women to have better opportunities and greater representation in work, this kind of world is written in the stars.”</p>
</blockquote>

<br><div style="margin-left: -10em;">
        <h5>Learnings</h5>
</div>

<p style="
    margin-top: -1.9em;
">As my first experience creating a logo, the process taught me the importance of communicating a strong message behind the design. I focused on making sure this message was purposefully conveyed in all visual components of the logo through my symbolic illustrations.</p>

  </div>
    
</article>
