---
layout: default
---
 <div class="card container mx-auto px-2 mb-4 clearfix header-text">
          
      <div class="subheader mt-1 py-2">
        <h2 class="mt-4" style="font-family: 'univers_45_lightregular';">Side projects, graphic design, digital illustrations, traditional art, et cetera...</h2>
        
      </div>

    </div>
                                                                            
    <div class="mx-auto mb-0 clearfix header-text" style="max-width: 80em;">
      
      <!-- Yale -->
      <div class="card grid">
         <div class="one mt-3 mb-3">
          <p style="margin-top: 0;margin-right: 15em;">
            <a href="/yale"><img src="https://upload.wikimedia.org/wikipedia/en/c/c7/Yale_School_of_Art.png" alt="yale" style="max-width: 5em;"></a>
          </p>
          <h5 style="">Fall 2019 - Present</h5><br>
           <p style="">Selections of graphic design, observational drawings, and more from classes at the Yale School of Art.<br>
              <br>
              <button onclick="window.location.href = 'https://bricebai.com/yale';" class="h6">See more</button>
              <br>
              <br>
              <small class="h6" style="font-weight:400;">
                <b class="boldbasier">Tools</b> &nbsp;&nbsp;&nbsp;Adobe Suite, traditional mediums<br>
                <b class="boldbasier">Skills</b> &nbsp;&nbsp;&nbsp;Visual design, fine art
              </small>
           </p>
        </div>
        
        <div class="two">
           <a href="/yale"><img src="/uploads/yale_home_thumbnail.png" alt="d4g" style="filter: drop-shadow(0px 1px 5px silver);"></a>
        </div>
     </div>
     
     <!-- Doodle4Google -->
     <div class="card grid">
         <div class="one mt-3 mb-3">
          <p style="margin-top: 0;">
            <a href="/d4g"><img src="/uploads/d4g_logo1.png" alt="d4g" style="max-width:300px;"></a>
          </p>
          <h5 style="">Feb 2017</h5><br>
           <p style="">
             The 2017 State Winner of Ohio for Google's Doodle4Google logo contest. 
             Inspired by the year's theme: "What I see for the future..."
              <br>
              <br>
              <button onclick="window.location.href = 'https://bricebai.com/d4g';" class="h6">Read more</button>
              <br>
              <br>
              <small class="h6" style="font-weight:400;">
                <b class="boldbasier">Tools</b> &nbsp;&nbsp;&nbsp;Photoshop, Manga Studio 5<br>
                <b class="boldbasier">Skills</b> &nbsp;&nbsp;&nbsp;Logo Design, Digital Illustration
              </small>
           </p>
        </div>
        
        <div class="two">
           <a href="/d4g"><img src="/uploads/d4g_home_thumbnail.png" alt="d4g" style="filter: drop-shadow(0px 1px 5px silver);"></a>
        </div>
     </div>
</div>
