---
layout: default
---
<div>
  <img style="max-width: 100%" src="/uploads/hd_block1.png" alt="">
</div>

<a id="toggle" href="javascript:showhide('menu')" class="section-nav w-button w--current" style="color: black; font-weight: bold; position: fixed; top: 5em; text-align: right; width: auto; display: none;">SHOW / HIDE</a>

<div id="menu" style="opacity: 1; display: none;" class="section-nav w-clearfix">
  <a href="#intro" class="section-links intro w-button w--current" style="color: rgb(179, 180, 186);">Background &amp; Context</a>
  <a href="#problem" class="section-links intro w-button w--current" style="color: rgb(179, 180, 186);">The Problem</a>
  <a href="#solution" class="section-links solution w-button" style="color: rgb(179, 180, 186);">Proposed Solution</a>
  <a href="#research" class="section-links research w-button" style="color: rgb(179, 180, 186);">Observations &amp; Research</a>
  <a href="#goals" class="section-links goals w-button" style="color: rgb(179, 180, 186);">The Goals</a>
  <a href="#decisions" class="section-links design w-button" style="color: rgb(179, 180, 186);">Design Decisions</a><a href="#process" class="section-links design w-button" style="color: rgb(179, 180, 186);">Process &amp; Style</a>
  <a href="#results" class="section-links results w-button" style="color: rgb(179, 180, 186);">Results &amp; Reflection</a>
  <a href="#future" class="section-links future w-button" style="color: rgb(179, 180, 186);">Future Directions</a>
</div>

<article class="container mx-auto px-2 mt2 mb4">
  <div class="prose mb-2 py-4">
    <h1 id="intro">HiveDesk Homepage UI Redesign</h1>
    <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));width: 100%;grid-column-gap: 2em;grid-row-gap: 2em;">
      <div><h6>Duration</h6>Summer 2019<br>10 weeks<br>Part-time</div>
      <div><h6>Tools</h6>Figma</div>
      <div><h6>Key Skills</h6>UI, Conversion Optimization</div> 
      <div><h6>The Team</h6>HiveDesk Product Marketing Team</div>
    </div>
    <br><br>
    <p>
  HiveDesk is a B2B SaaS product that tracks remote worker productivity by taking random automated 
  screenshots of workers’ screens. It has a customer base in the hundreds and is managed by a small 
  team in GlowTouch Technologies, a technology company based in Louisville, Kentucky. As a summer 
  2019 intern at GlowTouch, I had the opportunity to assist with the product marketing and management of HiveDesk.
  I was primarily responsible for implementing UI/UX design changes to their website.
    </p>

    <h5 style="margin-left: -10em;margin-top: 2em;" id="problem">The Problem</h5>  
    <h3 style="text-align: center; margin-top: -1.5em;">HiveDesk has been stagnating in customer growth for over a year. 
      How can we increase the number of product downloads? How can we encourage customers to try out 
      the product?</h3>
  </div>
</article>
    
<div id="solution" style="background-color: #f05a1a; background-image: url(/uploads/hd_overlay.png); background-size: contain;">
  <article class="container mx-auto px-2 mt2 mb4">
  <div class="prose mb-4 py-4">
    <h5 style="color:white; margin-left: -10em;">The Solution</h5>
    <h3 style="margin-top: -1.8em; color:white;">Use small and easy-to-implement UI/UX techniques 
      that influence users to move beyond the homepage and to the free trial download page. 
      Increase user conversions and free trial downloads using low effort but high impact design decisions.
    </h3>
    <a href="#decisions" style="text-decoration-color: white;"><h6 style="color:white;text-align: center;">Jump to final design decisions ↓</h6></a>
  </div></article>
</div>

<article id="research" class="container mx-auto px-2 mt2 mb4">
  <div class="prose mb-4 pb-4">
      <div style="margin-left: -10em;">
          <h5>Observations</h5>
          <h5>+ Research</h5>
  </div>

  <h2 style="margin-top: -2em;">The need to increase CTR and alleviate user fears</h2>

  <p>The marketing team presented me with some data via Hotjar regarding the website's 1.7% CTR from homepage to free trial page
    as well as the number of users who scrolled all the way down the homepage funnel. <strong>Given such low rates, I was tasked
    to increase them through UI changes.</strong></p>

    <p>I was also provided websites (<a href="https://smallbusiness.patriotsoftware.com/managing-remote-teams-challenges-solutions/">1</a>, <a href="https://remote.co/qa-leading-remote-companies/what-were-your-biggest-fears-in-managing-remote-workers/">2</a>, <a href="https://remote.co/qa-leading-remote-companies/what-were-your-biggest-fears-in-managing-remote-workers/">3</a>) 
      containing information on the challenges and fears from companies who hire remote workers. 
      Looking through these sources, a few common pain types stood out to me:</p>

    <img src="/uploads/hd_painpoints.png" alt=""><p></p>
    <p><strong>I saw opportunities for the HiveDesk tool to resolve these pain points, 
      so I wanted to design the homepage to target and convince the customer that HiveDesk could relieve their fears.</strong></p>

  <p>This is the old, original HiveDesk homepage:</p>

  <p><img src="/uploads/hivedesk%20old.png" alt=""></p>

  <p>I analyzed this version of the homepage and used various psychological and marketing techniques outlined by psychologist <a href="https://www.nickkolenda.com/my-guides/">Nick Kolenda</a>. A couple of factors immediately stuck out to me that could be changed:</p>

  <div class="double">
    <div><strong>Less is more</strong>—the overall amount of information on the page should be reduced to increase the user’s focus on the primary goal</div>
    <div><strong>Attention needs to be more easily directed to the call-to-action</strong>, especially at the top of the funnel</div>
  </div>
</div></article>

<div>
  <div id="goals" style="background-color: #f05a1a; background-image: url(/uploads/hd_overlay.png); background-size: contain;">
    <article class="container mx-auto px-2 mt2 mb4">
      <div class="prose mb-4 py-4">
        <h5 style="color:white; margin-left: -10em;">Goals</h5>
        <ul style="color:white; margin-top: -3.5em;">
            <h3>Reduction to increase customer focus</h3>
            <h3>More emphasis on the call-to-action</h3>
            <h3>Relieve the fears of the target customers</h3>
        </ul>
      </div>
    </article>
  </div>

  
  

  
<article class="container mx-auto px-2 mt-2 mb-4" id="decisions">


<div style="margin-left: -10em;">
        <h5>Decision 1</h5>   
</div>

<h2 style="margin-top: -1.2em;">Landing screen with stronger focus, appeal to target users, and CTA emphasis</h2>
    <div class="mb-4">
    <img src="/uploads/hd_decision1.png" alt="" style="max-width: 100%;margin-bottom: 1em;"><p>Users are able to focus more on key information with a reduction of links in the top navigation bar and with the key features of HiveDesk summarized with simple icons and captions.<br><br>
    The call-to-action is emphasized more with the free trial button repeated on the top navigation bar and the landing screen.<br><br>
    Greater appeals to the target user are made through the headline and through the highlight of 3,000,000+ hours tracked, giving users assurance of the high usage of the software.
        </p></div><div style="margin-left: -10em;">
        <h5>Decision 2</h5>   
</div><h2 style="margin-top: -1.2em;">Real testimonials and reviews higher prioritized</h2><div class="mb-4">
    <img src="/uploads/hd_decision2.png" alt="" style="max-width: 100%;margin-bottom: 1em;"><p>Place real customer testimonials at a higher position in the flow to establish more credibility and relieve fears of the target user. Provide a real face and name to the reviews to increase trust.<br><br>
    Add reviews from a second, external platform like Capterra to increase credibility and appeal to the user.
        </p></div><div style="margin-left: -10em;">
        <h5>Decision 3</h5>   
</div><h2 style="margin-top: -1.2em;">Pricing plans highlighted for greater transparency</h2><div class="mb-4">
    <img src="/uploads/hd_decision3.png" alt="" style="max-width: 100%;margin-bottom: 1em;"><p>Establish greater trust with users by placing the pricing plans directly on the homepage and by highlighting the high number of users.<br><br>
    Add reviews from a second, external platform like Capterra to increase credibility and appeal to the user.
        </p></div><div style="margin-left: -10em;">
        <h5>Decision 4</h5>   
</div><h2 style="margin-top: -1.2em;">More effective final CTA with reduced flow</h2><div class="mb-4">
    <img src="/uploads/hd_decision4.png" alt="" style="max-width: 100%;margin-bottom: 1em;"><p>The user is more likely to reach the end of the homepage funnel and see another CTA, increasing the possibility of them going to the free trial page. A final headline reminds the user the benefits of HiveDesk and how to can resolve their pain points.</p></div></article>
<div style="text-align: center;">
  <p><img style="max-width: 90%;" src="/uploads/hd_flows.png" alt=""></p>
</div><article id="process" class="container mx-auto px-2 mt2 mb4">
    <div class="prose mb-4 pb-4">
      <div style="margin-left:-10em;">
          <h5>Process</h5>
          <h5>+ Style</h5>
      </div>
      <div class="prose mb-4 pb-4" style="margin-top: -6em;">
<h2>Wireframe</h2>

<p><img src="/uploads/hd_wireframe.png" alt=""></p>
    </div><p><img src="/uploads/hd_type%20and%20color.png" alt=""></p>
      <p>A new type and color palette were defined. I based the colors off the HiveDesk logo and ensured the text sizes and color contrast met WCAG 2.1 guidelines.</p>
    </div>
  </article><article class="container mx-auto px-2 mt-2 mb-4">
<div class="prose mb-4 pb-4">
<h2>Final Design</h2><img src="/uploads/hd_final.png" alt="" style="
    max-width: 100%;
"><p>Since the marketing and development teams mainly wanted to incorporate small, low-effort UI changes to the homepage, 
  my redesign was not fully implemented by the end of my time at GlowTouch. 
  The compromise was that my design decisions such as the reduction of links in the top navigation bar, the repeating of the CTA button at the top of the page, 
  and the removal of the extraneous blocks of descriptive text were made. I described conducting these design decisions to the marketing and development teams,
  and they were successfully adjusted.</p></div></article>
  
  
  




<div id="results" style="background-color: #f05a1a; background-image: url(/uploads/hd_overlay.png); background-size: contain;">
  <article class="container mx-auto px-2 mt2 mb4">
    <div class="prose mb-4 py-4">
      <h3 style="color:white;">As a result, the CTR from homepage to free-trial-page increased from 1.7% to 2.1%–approximately, 
        a 24% increase.</h3>
    </div>
  </article>
</div>
      
      <article class="container mx-auto px-2">
          <div class="prose py-4" style="padding-bottom: 0em;">
                <p>These same UI/UX techniques were applied to the redesign of the rest of the website.</p>
                <h2 style="margin-bottom: 0em;">Features</h2>
          </div>
      </article>
      <img src="/uploads/hd_features.png" alt="features" style="max-width:100%">
      
      <article class="container mx-auto px-2">
          <div class="prose">
            <h2 class="mt-0 mb-0">Pricing</h2>
          </div>
      </article>
      <img src="/uploads/hd_pricing.png" alt="pricing" style="max-width:100%">
      <article class="container mx-auto px-2">
          <div class="prose" style="">
            <h2 class="mt-0 mb-0">Free Trial</h2>
          </div>
      </article>
      <img src="/uploads/hd_freetrial.png" alt="freetrial" style="max-width:100%">
      <article class="container mx-auto px-2">
          <div class="prose" style="">
            <h2 class="mt-0 mb-0">Login</h2>
          </div>
      </article>
      <img src="/uploads/hd_login.png" alt="login" style="max-width:100%">


<article class="container mx-auto px-2 mt2 mb4">
  <div class="prose mb-4 pb-4">
    <h5 style="margin-left: -10em;">Results</h5>
    <h2 style="margin-top: -1.3em;">Small changes can lead to big impact.</h2>

    <p>Redesigning the homepage showed me how just a few simple changes could be the deciding factor 
      in whether a user chooses to try out a product or not. If the user cannot be properly convinced 
      to use the product, it will struggle to gain more users.</p>
    <br>
    <div id="future" style="margin-left: -10em;"><h5>Future</h5><h5>Directions</h5></div>
    <p style="margin-top: -3.8em;">
      <strong>In the future, I would like to conduct more user testing.</strong> One thing I would like to A/B test is the opening headline and header image that the user first sees 
      upon homepage arrival. The original homepage had a headline that described what the product itself was and had a header
      image of the product’s dashboard pages in the background. I intentionally chose a headline that focused on the target 
      user’s expected desires and chose a header image that would direct attention to the CTA button. 
      Gathering data on whether these changes actually increased conversion rates would provide stronger support 
      for their implementation.</p>
  
    <p><strong>Another design decision I would like to consider is including more highlights or descriptions of the product features.</strong>
      The team I was working on mainly wanted to use testimonials to build credibility and relieve customer fears, 
      which is why I focused on including blocks with this information, but I would also want to test if including a
      block highlighting a feature or two would encourage users to continue down the landing page funnel.</p>
  
    

  </div>
  <h5 style="margin-left: -10em;">Let's Go</h5>
  <div style="margin-top: -1.8em;">
    Back to <a href="/#portfolio">all of my work</a>, or check out:
    <br>
    <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));width: 100%;grid-column-gap: 2em;">
      <h3><a href="/aws2020">Amazon</a></h3>
      <h3><a href="/sleeptight">Sleep Tight</a></h3>
      <h3><a href="/adobenick">Adobe/Nick</a></h3>
      <h3><a href="/xing">X.ing</a></h3>
      <h3><a href="/nova">Nova</a></h3>
    </div>
  </div>
</article>
