---
layout: default
---
<div>
  <img style="max-width: 100%" src="/uploads/nova_banner.png" alt="">
</div>

{% include toggle.html %}
<div id="menu" style="opacity: 1;display: none;" class="section-nav w-clearfix">
  <a href="#intro" class="section-links intro w-button w--current" style="color: rgb(179, 180, 186);">Background &amp; Context</a>
  <a href="#solution" class="section-links solution w-button" style="color: rgb(179, 180, 186);">Proposed Solution</a>
  <a href="#research" class="section-links research w-button" style="color: rgb(179, 180, 186);">Observations &amp; Research</a>
  <a href="#features" class="section-links design w-button" style="color: rgb(179, 180, 186);">Game Features</a>
  <a href="#final" class="section-links future w-button" style="color: rgb(179, 180, 186);">Final Product</a>
  <a href="#results" class="section-links results w-button" style="color: rgb(179, 180, 186);">Results &amp; Reflection</a>
</div>

<article class="container mx-auto px-2 mt2 mb4">
  <div class="prose mb-2 py-4">
    <h1 id="intro" style="margin-bottom: 0em;">Nova: Synthesis Creaturum</h1>

<h1 style="margin-top: 0em;">Visual Novel Game Development</h1>
    
    <button onclick="window.location.href = 'https://nova-sc.itch.io/novascofficial';" class="h6 mb-4 mr-4">Download</button>
    <button onclick="window.location.href = 'http://bit.ly/makingnova';" class="h6 mb-4">Process Deck</button>
    
    <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));width: 100%;grid-column-gap: 2em;grid-row-gap: 2em;">
      <div><h6>Duration</h6>Jan 2014 – <br><div>June 2018</div></div>

      <div><h6>Key Skills</h6>Project Management, Creative Writing, Cross-functional Teamwork</div> 


      <div><h6>The Team</h6><div>
      <a href="https://www.deviantart.com/catharsisgaze">CatharsisGaze</a><br>
      <a href="http://rexx9224.deviantart.com/">Rexx9224</a><br>
      <a href="http://na-o-mi.deviantart.com/">na-o-mi</a><br>
      <a href="https://www.deviantart.com/iridescentflora">IridescentFlora</a></div></div>

      <div><h6>My Role</h6>Founder, Project Manager, Writer</div>
    </div>

<blockquote>
  <p>“A visual novel is an interactive game genre, which originated in Japan in the early 1990s, featuring mostly static graphics, most often using anime-style art or occasionally live-action stills (and sometimes video footage). As the name might suggest, they resemble mixed-media novels.”</p>
</blockquote>

<p>– <a href="https://en.wikipedia.org/wiki/Visual_novel">Wikipedia</a></p>
      
      <p>As a personal fan of visual novels, I struggled with finding more that were available in English. There was definitely a growing demand—I saw more and more Japanese titles fan-translated into English in my personal search, but I still felt unsatisfied with the present titles available, especially for adolescent players.</p></div></article>

    <div id="solution" style="background-color: #B3C890;
                              background: linear-gradient(45deg, #B3C890, #82D0D7);">
      <article class="container mx-auto px-2 mt2 mb4">
        <div class="prose mb-2 py-4">

          <h5 style="margin-left: -10em;">The Solution</h5>
          <h3 style="margin-top: -1.8em;">Make my own English visual novel that is more accessible for a Western audience.</h3>
          <a href="#features"><h6 style="text-align: center;">Jump to features and final product ↓</h6></a>
         
        </div>
      </article>
</div>

<article class="container mx-auto px-2 mt2 mb4">
  <div class="prose mb-4 py-2">

    <h2 id="the-team">The Team</h2>

    <p>While we all had a hand in everything, here are some of our official titles:</p>

    <div style="display: flex; flex-wrap: wrap;">
      <div style="max-width: 11em;margin-right: 2em;margin-bottom: 2em;"><strong>Brice (me)</strong> <br>Project Manager <br>Writer<br> Social Media Manager<br> Audio Editor</div>

      <div style="max-width: 11em;margin-right: 2em;margin-bottom: 2em;"><strong><a href="https://www.deviantart.com/catharsisgaze">CatharsisGaze</a></strong><br>Artist &amp; UI Designer <br> Proofreader/Editor <br> Beta Tester <br> Audio Editor</div>

      <div style="max-width: 11em;margin-right: 2em;margin-bottom: 1em;"><strong><a href="http://rexx9224.deviantart.com/">Rexx9224</a></strong><br>Programmer</div>

      <div style="max-width: 11em;margin-right: 2em;margin-bottom: 1em;"><strong><a href="http://na-o-mi.deviantart.com/">na-o-mi</a></strong><br>Artist</div>

      <div style="max-width: 11em;margin-bottom: 1em;"><strong><a href="https://www.deviantart.com/iridescentflora">IridescentFlora</a></strong> <br>Assisting artist</div>
    </div>
        
  </div>
</article>

<div style="background-color: #B3C890;
            background: linear-gradient(#B3C890, #658422);">
      <article class="container mx-auto px-2 mt2 mb4">
      <div class="prose mb-4 py-4">

      <p><img src="/uploads/nova_team.png" alt=""></p>
          </div></article>
</div>

<div style="text-align: center;" class="mb-4">
    <p><img style="max-width: 100%" src="/uploads/nova_working%20process.png" alt=""></p>
</div>

<article id="research" class="container mx-auto px-2 mt2 mb4">
      <div class="prose mb-4 py-2">

<div style="margin-left: -10em;">
        <h5>Observations</h5>
        <h5>+ Research</h5>
</div>
    <h2 style="margin-top:-2.2em;">English language visual novels are not quite accessible for players outside of Japan. </h2>

<p><a href="https://www.reddit.com/r/visualnovels/comments/2navwt/the_statistics_of_visual_novels_on_steam/">According to Reddit user /u/Noslyl</a>, there were only 59 English visual novels on gaming platform Steam as of November 2014. Companies like JAST USA and MangaGamer provided English localizations of select Japanese visual novels as well. English fan translations of visual novels also existed, but downloading and accessing them was often a complex, multi-step process that was not easy for a casual player.</p>

    </div></article>

<div id="goals" style="background-color: #B3C890;
                       background: linear-gradient(to left, #B3C890, #82D0D7);">
      <article class="container mx-auto px-2 mt2 mb4">
      <div class="prose mb-2 py-4">
<div style="margin-left: -10em;">
        <h5>Goals</h5>
</div>
      <h3 style="margin-top: -1.5em;">Create an English visual novel that is free, accessible across different computer platforms, and open to a younger audience.</h3>
          
          </div></article>
</div>

<article id="features" class="container mx-auto px-2">
  <div class="prose py-2">

    <div style="margin-left: -10em;margin-top: 2em;">
      <h5>Features</h5>
    </div>
    <div class="mb-4">
      <h2 style="margin-top: -1em;">Fan Art Gallery</h2>
      A page to recognize the art of the characters made by our fans.
      <br>
      <br>
      <img src="/uploads/nova_fanart%20gallery.png" alt="" style="max-width: 100%;filter: drop-shadow(1px 1px 15px silver);">
    </div>
        
        
  <div class="mb-4">
    <h2 style="margin-top: -0.4em;">Music Box</h2>
    A page where players can unlock soundtracks as they play and listen to them on their own.
    <br>
    <br>
    <img src="/uploads/nova_music%20box.png" alt="" style="max-width: 100%;filter: drop-shadow(1px 1px 15px silver);">
  </div>
        
        
    <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));width: 100%;grid-column-gap: 2em;grid-row-gap: 2em;" class="mb-3">
      <div>
        <h2 style="margin-top: 0em;">Partially-Voiced Character Voiceovers</h2>
        Professional and amateur voice actors who provided voiceovers for some characters are included.
      </div>
      <div>
        <h2 style="margin-top: 0em;">Original Music Soundtracks</h2>
        Original music just for Nova made by composers Dorrell Ettienne and Allan Newman.
      </div>
      <div>
        <h2 style="margin-top: 0em;">Animated Opening Title Sequence</h2>
        A semi-animated opening to the game, using an original soundtrack as its theme.
      </div>
      <div>
        <h2 style="margin-top: 0em;">Translated German + Portuguese Demo</h2>
        The introduction of the game is made available to German and Portuguese speaking fans; 
        artists CatharsisGaze and na-o-mi are from Austria and Brazil respectively, so they were willing to translate!
      </div>
    </div>
    
    <p>Beyond the visual novel itself, our team wanted to create more fan engagement as we were in the process of development. I posted bi-monthly social media updates across 5 platforms informing our followers of our most recent progress and released an art preview. We also held an online DeviantArt fan art contest that gave artists the chance to win prizes and learn more about our game.</p>


          <br>

<h2 id="final">Final Product</h2>
    </div></article>
<div style="align-items: center;text-align: center;">
  <img src="/uploads/nova_final.png" alt="nova final screenshots" style="max-width: 100%;">
</div>

<article class="container mx-auto px-2 mt2 mb4" style="align-items: center; text-align: center;">
  <div class="prose py-2">
    <div class="container iframe-container-youtube">  
      <iframe src="https://www.youtube.com/embed/Nc0oazLPn1I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div>
    <br><br>
    <div class="container iframe-container-youtube">
      <iframe src="https://www.youtube.com/embed/usVQqw2zAUA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div>
    <br><br><br>
    An interview with one of my artists about Nova. Please turn on English captions unless you understand upper Austrian dialect. :)
    <br><br>
    <div class="container iframe-container-youtube">
      <iframe src="https://www.youtube.com/embed/lrEaQL4Ki3I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div>
  </div>
</article>

<article id="results" class="container mx-auto px-2 mt2 mb4">
      <div class="prose mb- py-4">
          
<div style="margin-left: -10em;">
        <h5>Results</h5>
</div>

<h2 style="
    margin-top: -1.3em;
">After 4.5 years, Nova was released on indie game distribution platform, itch.io, on June 1, 2018.</h2>

<div style="
    display: grid;
    grid-template-columns: 33% 33% 33%;
">
  <div><h5>Word count</h5>~120,000</div>
  <div><h5>Graphics count</h5> 140+</div>
  <div><h5>Downloads:</h5> 4,800+</div>
</div>


    </div></article>




        <article class="container mx-auto px-2 mt2 mb4">
      <div class="prose mb-2 py-2">  
          <h3>A specific design challenge I faced was how to improve user experience in finding information about music soundtracks.</h3><p>Many visual novel fans, including myself, enjoy looking up the various soundtracks that get played during a game, but it can be difficult to pinpoint specific tracks and their names. <strong>To resolve this, I chose to have the Music Box feature</strong>, which is essentially a page that reveals each soundtrack’s name and composer after they are played. <strong>This allows users to easily identify all the tracks used without the need of researching them outside of the game.</strong></p>
          
          </div></article>
          
          


        <article class="container mx-auto px-2 mt2 mb4">
      <div class="prose mb-2 py-2"> 

          <h3>Another challenge I faced was considering how to enhance the dialogue and working with voice actors.</h3><p>My solution to this was providing character voiceovers. Most free visual novels do not include voiceovers. In general, professional visual novel studios who do include them hire professional voice actors and record them in-house, giving them live feedback and creating a consistent tone across all recordings. For my remote and budgetless team, this was not a feasible option.</p>

<p>Instead, I suggested we find amateur voice actors via forums who were willing to do free work. We selected our voice actors from virtual auditions and requested them to send in their lines with every script update. With that came the issues of people suddenly cutting off contact, not sending in lines at a regular rate, and inconsistent audio quality among all the voiceovers.</p>

<p>To resolve these problems, one of my artists and I chose to edit all the audio files so that they had the same quality, and we replaced a few characters’ voice actors when we lost communication with the originals. In the end, our team did not have a fully-voiced visual novel, but we still wanted to include what we had in the final game. My solution was to turn off the voiceovers by default in the settings—users can still access the available voiceovers by turning them on.</p>

<p>Since the voiceovers were the only incomplete feature of the game, <strong>this was a situation where I had to choose masking the feature in order to release the game on time.</strong></p>
          
           </div></article>
          
          


        <article class="container mx-auto px-2 mt2 mb4">
      <div class="prose mb-4 py-2">

<h3>Beyond these challenges, I also faced the challenge of finding the right people to work with and staying committed to the project for over four and a half years.</h3>
    
  <div style="display: flex; flex-wrap: wrap;" class="mb-2">
    <p style="max-width: 22em; margin-right: 1em;">I did not possess all the skills needed to create a visual novel, 
      so I had to seek help from others, but no one around me was interested in the project. 
      I ended up turning to the projects section of a DeviantArt forum, posting a help-wanted thread that solicited a 
      few private messages from some users.
    </p>
    <img src="/uploads/nova_thread.png" alt="" style="max-width: 24em;">
  </div>

<p>Despite how none of had ever made a visual novel nor completed a project to this scale before, we still managed to complete it together in due time. The process took 4.5 years because the story developed into something more layered and detailed than originally anticipated—our team decided to let it organically grow and continue working on it as long as we could. Over this period of time, our problems evolved from establishing a completely remote method of collaboration to maintaining steam on progressing through the story, artwork, and programming.</p>

<p></p><h3>Building my team from that forum became the most significant factor of my learning experience and growth.</h3>It was my team members that taught me how to set proper goals and deadlines for myself, how to communicate ideas with people across different disciplines, and how to work well together despite being fully remote and never once meeting at the same time. Making Nova proved to me that working with others will often create something bigger and better than what one person can do alone, giving me a much greater appreciation for teamwork and collaboration. Ultimately, this small group of people motivated me to continue working on this project for so long. I wanted to be accountable for starting it, and I became determined to have our hard work come to fruition.<p></p>

<p>In managing the project and leading the overall direction of the game, this is what started my interest in the product field in the tech industry. It gave me direct experience in creating and releasing a product from start to finish, working with a team and dipping into every facet of the product development process, and managing it all under a personal timeline while still being a full-time student. Furthermore, although I did not have a design role for this project, designing certain game features with the user in mind, creating content for social media posts, and seeing the work of my artists influenced my own interests and desire to be a designer and work in product.</p>
          
          <br><br>

<h5 id="follow-nova" style="
    margin-left: -10em;
">Follow Nova</h5>

<div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));width: 100%;grid-column-gap: 2em;grid-row-gap: 2em;margin-top: -2em;">
  <a href="https://nova-sc.itch.io/novascofficial">itch.io</a>
  <a href="http://nova-wip.tumblr.com/">WIP Blog</a>
  <a href="https://www.facebook.com/pages/Nova-Synthesis-Creaturum/252596821582660">Facebook</a>
  <a href="https://twitter.com/novascofficial">Twitter</a>
  <a href="http://www.youtube.com/channel/UC8UpgHvoASCyP59vraVDZMQ">Youtube</a>
  <a href="http://diolacov-kingdom.deviantart.com/">deviantART</a></div>
</div>
          
<div style="margin-left: -10em;">
        <h5>Let's Go</h5>
    
</div>
<div style="margin-top: -1.8em;">
  Back to <a href="/#portfolio">all of my work</a>, or check out:
    <br>
    <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));width: 100%;grid-column-gap: 2em;">
      <h3><a href="/aws2020">Amazon</a></h3>
      <h3><a href="/sleeptight">Sleep Tight</a></h3>
      <h3><a href="/hivedesk">HiveDesk</a></h3>
      <h3><a href="/adobenick">Adobe/Nick</a></h3>
      <h3><a href="/xing">X.ing</a></h3>
    </div>
  </div>
</article>
