---
layout: default
---
<article class="container mx-auto px-2 mt2 mb4">
  <header>
    <h1 class="h0 py-4 mt-3">{{ page.title }}</h1>
  </header>
  <div class="col-4 sm-width-full border-top-thin">
  </div>
  <div class="prose mb-4 py-4">
    {{ content }}
    <iframe style="border: none;" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FknADZN3UicwqPZDE9NJz3N%2FSleep-Tight%3Fnode-id%3D4%253A0%26scaling%3Dscale-down" allowfullscreen></iframe>
    <h2>Results and Learnings</h2>
    <p>
      While I was originally inspired by what I learned from class to make a product to help people
      achieve better sleep, the user interviews and secondary research that I conducted were essential
      to discovering an opportunity to fulfill a need that wasn't being properly met. Surprisingly 
      very few sleep apps available now have features that would help people develop better long-term 
      sleep habits and hygiene. Seeing the gap in this market gave me the chance to prototype an app
      that could provide this feature. <b>Ultimately, the importance of analyzing the competitive landscape and
      talking to users was demonstrated in prototyping Sleep Tight.</b>
    </p>
    <h3>Future Directions</h3>
    <p>
      More feedback on the prototype should be gathered. I would like to see how well people adhere to
      the reminders, how they use the data on their sleep trends, and whether they find the provided information
      on sleep to be useful. How can I encourage users to take action and change their behaviors and attitudes towards
      sleep beyond providing them information about their own sleep and using push notifications as reminders?
      With the current main method of using push notifications as reminders, how could I make them more effective 
      so that people will not ignore them? Conducting research on successful 
      habit-tracking mobile apps would be a helpful source of inspiration.
      <br><br>
      Additionally, more user interviews or research on people with good, consistent sleep habits and hygiene
      should be conducted. Learning about their methods and techiniques to achieving high-quality sleep would be a great
      source of information.
      <br><br>
    </p>
  </div>
<a href="/#portfolio">Back to work</a>
</article>
