---
layout: default
---
<article class="container mx-auto px-2 mt2 mb4">
  <header>
    <h1 class="h0 py-4 mt-3">{{ page.title }}</h1>
  </header>
  <div class="col-4 sm-width-full border-top-thin">
  </div>
  <div class="prose mb-4 py-4">
    {{ content }}
    <iframe style="border: none;" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F740E4HfxK12Hw5aBVIhiQz%2FX.ing%3Fnode-id%3D4%253A0%26scaling%3Dscale-down" allowfullscreen></iframe>
    <h2>Results and Learnings</h2>
    <p>
      With our first prototype, our biggest limitations came from a lack of available mentorship and experience in cosmetic formulations. Although we were able to prototype and test two working sets of products, we had difficulties in moving beyond the first iteration. In addition, further discussion with users gave us new perspective on their pain points and goals towards building a routine. These new perspectives on how users desire to seek help and find products led us to pivot towards a new solution that was also more feasible with our current skillsets and resources.
    </p>
    <h3>Future Directions</h3>
    <p>
      Since our second prototype was a spinoff of our first and the only additional user research was collected from discussions with a limited number of people, more research on how users obtain their skincare information and preferences should be conducted, from both our personal peers as well as active users of online skincare communities.
      <br><br>
      Another point of consideration is researching more reasons for why more experienced skincare users would use this platform. Newbie skincare users benefit from gaining personal advice on how to start and maintain a routine, but more established users have different incentives towards participation in this type of social network. Interviews of experienced skincare users who are active contributors on online skincare communities should be conducted to discover their motivations towards being so active and willing to assist others.
      <br><br>
      Here are some remaining use cases and considerations that I would also like to flesh out:
      <ul>
        <li> <u>Professionals.</u> More research on professionals' incentives to use this kind of platform and how they envision themselves engaging with new or current patients/clients should be conducted. Would they only use it to communicate with patients, or would they also use it to find friends? Should there be an option for them to have a network of friends and patients or only have a network of patients alone?</li>
        <li> <u>Group chat.</u> Currently, one-on-one messaging is the main form of communication, but having group chat support is another avenue of communication that still aligns with our value proposition. What kind of scenarios would group chat trump both one-on-one messaging or forum thread posts? This is a situation where the personal connection among users will matter more in order to form a group chat.</li>
        <li> <u>Profile.</u> Are there any additional parameters to include in the profile to help users decide whether to trust another user and add them to their networks?</li>
        <li> <u>User discovery.</u> What additional ways can users find friends and professionals to add to their network besides the current discovery method? Would the inclusion of a forum or public question submission area be beneficial in discovering new users, or would it reduce the amount of private messaging and interactions?</li>
        <li> <u>Platform misuse.</u> How can we reduce the risk of users abusing the platform to promote their own business or social platforms?</li>
    </ul>
      
    </p>
  </div>
<a href="/#portfolio">Back to work</a>
</article>
