---
layout: default
---

<article class="mx-auto px-2 mt2 mb4" style="max-width: 80em;">
  <div class="mb-4 py-2">
    <p style="text-align:center;">Selections from Intro to Graphic Design, Typography!, Basic Drawing, and Visual Thinking.</p>
    <p style="text-align:center;margin-bottom: 4em;">More to come. <a style="text-align: center;margin-bottom: 4em;" href="/etc">Back to etc.</a></p>
    <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));width: 100%;grid-column-gap: 2em;grid-row-gap: 2em;align-items: center;">
      
      <a href="#img1"> 
        <img src="/uploads/132_poster.png" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img1">
        <img src="/uploads/132_poster.png" class="gallery">
      </a>
      
      <a href="/uploads/264_chapbook.pdf" style="display: flex;justify-content: center;">
          <img src="/uploads/264_chapbook.png" class="gallery">
      </a>
      
      <a href="#img2"> 
        <img src="/uploads/264_poster.png" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img2">
        <img src="/uploads/264_poster.png" class="gallery">
      </a>
      
      <a href="#img3"> 
        <img src="/uploads/132_booklet.JPG" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img3">
        <img src="/uploads/132_booklet.JPG" class="gallery">
      </a>
      
      <a href="#img4"> 
        <img src="/uploads/111_finalportfolio.JPG" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img4">
        <img src="/uploads/111_finalportfolio.JPG" class="gallery">
      </a>
      
      <a href="#img5"> 
        <img src="/uploads/114_figure.jpg" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img5">
        <img src="/uploads/114_figure.jpg" class="gallery">
      </a>
      
      <a href="#img6"> 
        <img src="/uploads/111_collage.jpg" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img6">
        <img src="/uploads/111_collage.jpg" class="gallery">
      </a>
      
      <a href="#img7"> 
        <img src="/uploads/114_commonroom.jpg" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img7">
        <img src="/uploads/114_commonroom.jpg" class="gallery">
      </a>
      
      <a href="#img8"> 
        <img src="/uploads/114_inclasscharcoal.JPG" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img8">
        <img src="/uploads/114_inclasscharcoal.JPG" class="gallery">
      </a>
      
      <a href="#img9">
        <img src="/uploads/114_notebooks.jpg" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img9">
        <img src="/uploads/114_notebooks.jpg" class="gallery">
      </a>
      
      <a href="#img10">
        <img src="/uploads/132_bwlines.JPG" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img10">
        <img src="/uploads/132_bwlines.JPG" class="gallery">
      </a>
      
      <a href="#img11">
        <img src="/uploads/132_colorlines.JPG" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img11">
        <img src="/uploads/132_colorlines.JPG" class="gallery">
      </a>
      
<!--  <a href="#img12">
        <img src="/uploads/132_colorlines_remix.JPG" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img12">
        <img src="/uploads/132_colorlines_remix.JPG" class="gallery">
      </a>
      
      <a href="#img13">
        <img src="" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img13">
        <img src="" class="gallery">
      </a>
      
      <a href="#img14">
        <img src="" class="gallery">
      </a>
      <a href="#_" class="lightbox" id="img14">
        <img src="" class="gallery">
      </a> -->
    
    </div>
  </div>    
</article>
